{% extends 'addServiceProvider/htmls/base.html' %}
{% load static %}

{% block body %}

    <div class="updateCompanyDetailsBox">
        <div class="updateCompanyDetails">
            <div class="updateCompanyDetailsText">
                <p>Update Company Details</p>
            </div>
        </div>
        <div>
            
        </div>
    </div>



<h2 class = "alert alert-primary text-center p-2" >Update Company Details</h2>
<br>
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{form}}

        <button type="submit" class="btn btn-primary my-2" >Save Changes</button>
    </form>
</div>


{% endblock body %}