{% extends 'authentication/htmls/base.html' %}
{% load static %}

{% block signupPage %}

    <div class="signupPageSection">
        <div class="signupPageSectionContainer">
            <div class="signupPageTitle">
                Sign Up
            </div>
            <div class="signupPageSectionForm">
                <form action="{% url 'signupPage' %}" method="post">
                    {% csrf_token %}
                    <div class="signupUserNameEmail">
                        <div class="signupUserName">
                            <input type="text" name="username" placeholder="Username" required>
    
                        </div>
                        <div class="signupUserEmail">
                            <input type="email" name="useremail" placeholder="Email Id" required>
                        </div>
                    </div>
                    <div class="signupUserPhoneState">
                        <div class="signupUserPhone">
                            <input type="tel" name="userphone" placeholder="Phone Number" required>
    
                        </div>
                        <div class="signupUserState">
                            <input list="signupPageStateBrowsers" name="userstate" placeholder="State" required>
                            <datalist id="signupPageStateBrowsers">
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                <option value="Daman and Diu">Daman and Diu</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Lakshadweep">Lakshadweep</option>
                                <option value="Puducherry">Puducherry</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Odisha">Odisha</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Uttarakhand">Uttarakhand</option>
                                <option value="West Bengal">West Bengal</option>
                            </datalist>
                        </div>
                    </div>
                    <div class="signupUserPassword">
                        <div class="signupUserPassword1">
                            <input type="password" name="userpassword1" placeholder="Enter Password" required>
    
                        </div>
                        <div class="signupUserPassword2">
                            <input type="password" name="userpassword2" placeholder="Confirm Password" required>
                        </div>
                    </div>
                    <div class="signupFormButton">
                        <button type="submit">
                            Sign Up
                        </button>
                    </div>
                    <div class="signupPageLoginLink">
                        <a href="/">Already Have Account ?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock signupPage %}