{% extends 'reviewInvoice/htmls/base.html' %}
{% load static %}

{% block reviewInvoiceBlock %}


<div class="addServiceProviderSection">
    <div class="addServiceProviderSectionContainer">
        <div class="allServiceProvider">
            <div class="allServiceProviderLink">
                <a href="">All Clients Details</a>
            </div>
            <div class="allServiceProviderForms">
        
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Company Name</th>
                            <th>GST Number</th>
                            <th>Address</th>
                            <th>Created At</th>
                            <th>Action</th>
                        </tr>
                    </thead>       
                    <tbody>
                        {% for provider in allclients %}
                        <tr>
                            <div class="horizotalLine"></div>
                            <td>{{ provider.id }}</td>
                            <td>{{ provider.company_name }}</td>
                            <td>{{ provider.gst_number }}</td>
                            <td>{{ provider.address }}</td>
                            <td>{{ provider.created_at }}</td>
                            <td>
                                <div class="allServiceProviderTable">
                                    <div class="allServiceProviderTableShow">
                                        <a href="{% url 'showReview' provider.id %}">Show</a>
                                    </div>
                                    <div class="allServiceProviderTableEdit">
                                        <a href="/">Edit</a>
                                    </div>
                                    <div class="allServiceProviderTableDelete">
                                        <a href="/">Delete
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>














{% endblock reviewInvoiceBlock %}